{% extends 'base.html.twig' %}
{% block title %}AdminController{% endblock %}
{% block body %}
    <div class="row text-center m-2">
        <div class="col-4">
            <h4>Liste des produits</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productDesc }}</td>
                        <td>
                            <form method="post" action="{{ path('admin_delete', {id: product.id}) }}"
                                  style="display:inline-block" onsubmit="return confirm('Are you sure ?')">
                                <input type="hidden" name="_method" value="DELETE"/>
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}"/>
                                <button class="btn btn-warning btn-sm">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-right">
                <a href="{{ path('product_new') }}" class="btn btn-primary btn-sm">Ajouter un produit</a>
            </div>
        </div>
    </div>
{% endblock %}
