{% extends 'base.html.twig' %}

{% block title %}{{ 'Test Js' }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6">
            <h1>{{ 'Test Js' }}</h1>
            <a class="btn btn-sm btn-outline-primary" href="{{ path('test_home') }}">{{ 'Test Home' }}</a>
            <br><br>
            <a class="btn btn-sm btn-danger" href="#">{{ 'Test 1' }}</a>
            <a class="btn btn-sm btn-success" href="#">{{ 'Test 2' }}</a>
            <a class="btn btn-sm btn-info" href="#">{{ 'Test 3' }}</a>
            <a class="btn btn-sm btn-warning" href="#">{{ 'Test 4' }}</a>
            <a class="btn btn-sm btn-light" href="#">{{ 'Test 5' }}</a>
            <a class="btn btn-sm btn-dark" href="#">{{ 'Test 6' }}</a>
            <a class="btn btn-sm btn-outline-danger" href="#">{{ 'Test 7' }}</a>
            <a class="btn btn-sm btn-link" href="#">{{ 'Test 8' }}</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2">
            <span>Web component Modal : </span>
            <pp-modal content="projects">
                <h1 slot="header">Information Box</h1>
            </pp-modal>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/web-component/pp-modal.component.js') }}" type="module"></script>
{% endblock %}
