{% extends 'base-admin.html.twig' %}
{% block title %}Cart List{% endblock %}
{% block body %}
<div class="container">
    <div class="row text-center m-5">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <div class="col-12">
            <div class="card p-4">
                <div class="card-header">
                    Liste des paniers
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Produits</th>
                        <th>Date de création</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cart in carts %}
                        <tr>
                            <td>{{ cart.title }}</td>
                            <td>{{ cart.products.count }}</td>
                            <td>{{ cart.createdAt |date("m/d/Y") }}</td>
                            <td>
                                <a href="{{ path('cart_edit', {id: cart.id}) }}"
                                   class="btn btn-primary btn-sm ">Editer</a>
                                <form method="post" action="{{ path('cart_delete', {id: cart.id}) }}"
                                      style="display:inline-block" onsubmit="return confirm('Are you sure ?')">
                                    <input type="hidden" name="_method" value="DELETE"/>
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cart.id) }}"/>
                                    <button class="btn btn-warning btn-sm disabled">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        <div class="text-right mt-3">
            <a href="{{ path('cart_new') }}" class="btn btn-primary btn-sm">Ajouter un panier</a>
            <a href="{{ path('admin_home') }}" class="btn btn-primary btn-sm">Retour</a>
        </div>
    </div>
    {% endblock %}
    {% block javascripts %}

    {% endblock %}
