{% extends 'base-admin.html.twig' %}
{% block title %}Product List{% endblock %}
{% block body %}
<div class="container">
    <div class="row text-center m-5">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <div class="col-12">
            <div class="card p-4">
                <div class="card-header">
                    Liste des produits
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Date de création</th>
                        <th>nb de tags</th>
                        <th>image</th>
                        <th>panier(s)</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.createdAt |date("m/d/Y") }}</td>
                            <td>{{ product.tags.count }}</td>
                            <td>{{ product.image}}</td>
                           <td> {{ product.cart }}</td>
                            <td>
                                <a href="{{ path('product_edit', {id: product.id}) }}"
                                   class="btn btn-primary btn-sm">Editer</a>
                                <form method="post" action="{{ path('product_delete', {id: product.id}) }}"
                                      style="display:inline-block" onsubmit="return confirm('Are you sure ?')">
                                    <input type="hidden" name="_method" value="DELETE"/>
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}"/>
                                    <button class="btn btn-warning btn-sm">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-right mt-3">
            <a href="{{ path('product_new') }}" class="btn btn-primary btn-sm">Ajouter un produit</a>
            <a href="{{ path('admin_home') }}" class="btn btn-primary btn-sm">Retour</a>
        </div>

    </div>
    {% endblock %}
    {% block javascripts %}

    {% endblock %}
