{% extends 'base-admin.html.twig' %}
{% block title %}{{ 'Sand Box' }}{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="row">
        <span><strong>Exemples de script Vanilla JS</strong></span>
    </div>
    <div class="row">
        <div class="col-5">
            <div class="container m-5">
                <span>Web component Modal : </span>
                <pp-modal content="projects">
                    <h1 slot="header">Information Box</h1>
                </pp-modal>
            </div>
            <div class="container m-5">
                <span>crée un multiSelect a partir d'un Json : </span>
                <div class="multi-select"></div>
            </div>
        </div>
        <div class="col-5">
            <div class="container m-5">
                <span>Crée un tableau avec pagination depuis un Json  : </span>
                <div class="pagination">
                    <div class="tableList" id="listingTable"></div>
                    <div class="pagination-block">
                        <span class="pageButton outline-none" id="button_prev">Prev</span>
                        <span id="page_number" class="outline-none"></span>
                        <span class="pageButton outline-none" id="button_next">Next</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="container mt-5">
                    <span>Génére un tableau triable a partir d'un Json : </span>
                    <table id="sortable" class="responsive move-table">
                        <tr class="table-head">
                            <th order="sb" s-col="id">ID</th>
                            <th order="no" s-col="column2">column 2</th>
                            <th order="no" s-col="column3">column 3</th>
                            <th order="no" s-col="price">Price</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <div class="container m-5">
                    <span>Script permettant d'ajouter un filtre de recherche sur n'importe quel tableau HTML ou Json: </span>
                    <div id="portexe-search-root"></div>
                    <div id="portexe-table-container">
                        <table id="portexe-data-table">
                            <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr>
                                    <td> {{ product.id }}</td>
                                    <td> {{ product.name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="container m-5">
                    <span>Script qui construit un tableau HTML avec les bonnes en-tetes, a partir de n'importe quel Json: </span>
                    <table class="auto-table"></table>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/web-component/pp-modal.component.js') }}"></script>
        <script src="{{ asset('js/admin/multiselect.js') }}" type="module"></script>
        <script src="{{ asset('js/admin/search-filter.js') }}" type="module"></script>
        <script src="{{ asset('js/admin/create-table.js') }}" type="module"></script>
        <script src="{{ asset('js/admin/paginator.js') }}"></script>
        <script src="{{ asset('js/admin/sort-table.js') }}" type="module"></script>
    {% endblock %}
